@import "reset.scss";

.conteiner {
    display: flex;
    width: 1440px;
    padding: 25px;
    margin: 0 auto;
    background-color: #e0dcda;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
    flex: 0 0 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #60594f;
    &__photo {
        width: 350px;
        height: 350px;
        background-image: url("../img/photo.jpg");
        background-size: cover;
        background-position: center;
        margin: 30px 0;
        border-radius: 50%;
        align-self: center;
    }
    &__info {
        color: white;
    }
}
.info {
    &__block {
        margin: 0 0 30px;
        padding: 0 30px;
    }
    &__title {
        font-size: 32px;
        font-weight: 600;
        margin: 0 0 15px;
        border-bottom: 2px solid;
        padding: 5px;
    }
    &__link {
        margin: 0 0 9px;
        font-size: 21px;
        opacity: 80%;
        color: white;
        & a {
            font-size: 21px;
            opacity: 80%;
            color: white;
            text-decoration: none;
            padding: 5px;
            transition: 0.5s text-decoration;
            &:hover {
                text-decoration: underline;
                opacity: 100%;
            }
        }
    }
    &__item {
        list-style: disc;
        margin: 8px 15px 0;
        color: #e0dcda;
        & span {
            color: white;
            opacity: 80%;
            font-size: 21px;
        }
    }
}
.main {
    flex-grow: 1;
    background-color: white;
    padding: 50px 60px;
    &__subtitle {
        font-size: 36px;
        font-weight: bold;
        margin: 0 0 25px;
    }
    &__name {
        font-size: 58px;
        font-weight: bold;
        margin: 0 0 40px;
    }
    &__discription {
        margin: 0 0 25px;
        line-height: normal;
        font-size: 23px;
        opacity: 80%;
        width: 100%;
        text-align: justify;
    }
    &__block {
        margin: 0 0 40px;
    }
}
.block {
    &__title {
        font-size: 32px;
        font-weight: 600;
        margin: 0 0 15px;
        border-bottom: 2px solid;
        padding: 0 0 5px;
    }
    &__item {
        margin: 0 0 25px;
    }
    &__subtitle {
        font-size: 28px;
        font-weight: 600;
        margin: 0 0 10px;
        &_orange {
            color: #60594f;
        }
        &_up,
        &_orange {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 800;
        }
        &_up {
            margin: 0 0 0 15px;
        }
    }
    &__link {
        color: black;
        text-decoration: none;
        transition: 0.5s text-decoration;
        position: relative;
        &:hover {
            text-decoration: underline;
        }
    }
    &__date {
        font-size: 20px;
        width: 70%;
        margin: 0 0 10px;
        opacity: 65%;
        & span {
            margin: 0 5px;
        }
    }
    &__text {
        font-size: 23px;
        margin: 0 0 5px 16px;
        opacity: 80%;
        list-style: disc;
    }
    &__certifacate {
        display: block;
        font-size: 20px;
        font-weight: 600;
        font-style: italic;
        color: black;
        text-decoration: none;
        margin: 15px 0 0;
        transition: 0.5s text-decoration;
        &:hover {
            text-decoration: underline;
        }
    }
}
